.container .head-title .badge {
    background: #212529;
}

.container .row .col-lg-6 .italian-food {
    background-image: url('img/italian-food-web.jpg');
    background-position: center;
    background-size:cover;
    width:100%;
    height:300px;
}

.container .row .col-lg-6 .yoga {
    background-image: url('img/yoga-web.jpg');
    background-position: center;
    background-size:cover;
    width:100%;
    height:300px;
}

.container .row .col-lg-6 .travelto {
    background-image: url('img//travelto-web.jpg');
    background-position: center;
    background-size:cover;
    width:100%;
    height:300px;
}

.container .row .col-lg-6 .louvre {
    background-image: url('img/louvre-creative-web.jpg');
    background-position: center;
    background-size:cover;
    width:100%;
    height:300px;
}

.container .row .col-lg-6 .image-overlay {
    opacity:0%;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0,0,0,0.4);
    transition:0.5s ease;
}

.container .row .col-lg-6 .image-overlay:hover {
    opacity:100%;
}